<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.core.dao.ICommentDAO">
	<resultMap id="comment_DB_Result" type="comment">
		<result column="code" property="code" />
		<result column="score" property="score" />
		<result column="content" property="content" />
		<result column="status" property="status" />
		<result column="commenter" property="commenter" />
		
		<result column="commenter_name" property="commenterName" />
		<result column="comment_datetime" property="commentDatetime" />
		<result column="approver" property="approver" />
		<result column="approve_datetime" property="approveDatetime" />
		<result column="remark" property="remark" />
		
		<result column="parent_code" property="parentCode" />
		<result column="order_code" property="orderCode" />
		<result column="entity_code" property="entityCode" />
		<result column="entity_name" property="entityName" />
		<result column="company_code" property="companyCode" />
		<result column="system_code" property="systemCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="content != null and content != '' ">
				AND t.content like "%"#{content}#"%"
			</if>
			<choose>
				 <when test='status == "AB"'>
				 	AND t.status in ('A','B')
				 </when>
				 <otherwise>
					 <if test='status != null and status != ""'>
		        		AND t.status = #{status}
					</if>
				 </otherwise>
			</choose>
			<if test="commenter != null and commenter != '' ">
				AND t.commenter = #{commenter}
			</if>
			<if test="commenterName != null and commenterName != '' ">
				AND t.commenter_name like "%"#{commenterName}"%"
			</if>
			<if test="approver != null and approver != '' ">
				AND t.approver = #{approver}
			</if>
			<if test="parentCode != null and parentCode != '' ">
				AND t.parent_code = #{parentCode}
			</if>
			<if test="orderCode != null and orderCode != '' ">
				AND t.order_code = #{orderCode}
			</if>
			<if test="entityCode != null and entityCode != '' ">
				AND t.entity_code = #{entityCode}
			</if>
			<if test="entityName != null and entityName != '' ">
				AND t.entity_name like "%"#{entityName}"%"
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
		</trim>
	</sql>
	<select id="select_comment" parameterType="comment" resultMap="comment_DB_Result">
		SELECT
		t.code
		,t.score
		,t.content
		,t.status
		,t.commenter
		,t.commenter_name
		,t.comment_datetime
		,t.approver
		,t.approve_datetime
		,t.remark
		,t.parent_code
		,t.order_code
		,t.entity_code
		,t.entity_name
		,t.company_code
		,t.system_code
		FROM
		tstd_comment t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_comment_count" parameterType="comment"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_comment t
		<include refid="where_condition" />
	</select>

	<insert id="insert_comment" parameterType="comment">
		INSERT INTO
		tstd_comment(
		code
		,score
		,content
		,status
		,commenter
		,commenter_name
		,comment_datetime
		,approver
		,approve_datetime
		,remark
		,parent_code
		,order_code
		,entity_code
		,entity_name
		,company_code
		,system_code
		)
		VALUES(
		#{code}
		,#{score}
		,#{content}
		,#{status}
		,#{commenter}
		,#{commenterName}
		,#{commentDatetime}
		,#{approver}
		,#{approveDatetime}
		,#{remark}
		,#{parentCode}
		,#{orderCode}
		,#{entityCode}
		,#{entityName}		
		,#{companyCode}
		,#{systemCode}
		)
	</insert>

    <delete id="delete_comment" parameterType="comment">
		DELETE FROM tstd_comment
		WHERE code = #{code}
	</delete>
	
	<update id="update_approve" parameterType="comment">
		UPDATE tstd_comment
		SET
		status = #{status}
		,approver = #{approver}
		,approve_datetime = #{approveDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>