<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>		
		<typeAlias alias="news" type="com.cdkj.core.domain.News" />
		<typeAlias alias="comment" type="com.cdkj.core.domain.Comment" />
		<typeAlias alias="keyword" type="com.cdkj.core.domain.Keyword" />
		
		<typeAlias alias="interact" type="com.cdkj.core.domain.Interact" />
		<typeAlias alias="sysDict" type="com.cdkj.core.domain.SYSDict" />
		<typeAlias alias="sysConfig" type="com.cdkj.core.domain.SYSConfig" />
		
		<typeAlias alias="coupon" type="com.cdkj.core.domain.Coupon" />
		<typeAlias alias="currencyActivity" type="com.cdkj.core.domain.CurrencyActivity" />
		<typeAlias alias="publicity" type="com.cdkj.core.domain.Publicity" />
		<typeAlias alias="country" type="com.cdkj.core.domain.Country" />
	</typeAliases>
</configuration>	
