<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>		
		<typeAlias alias="activity" type="com.std.activity.domain.Activity" />
	    <typeAlias alias="activityOrder" type="com.std.activity.domain.ActivityOrder" />
		<typeAlias alias="comment" type="com.std.activity.domain.Comment" />
		<typeAlias alias="keyword" type="com.std.activity.domain.Keyword" />
	
		<typeAlias alias="sysDict" type="com.std.activity.domain.SYSDict" />
		<typeAlias alias="sysConfig" type="com.std.activity.domain.SYSConfig" />
	</typeAliases>
</configuration>	
